.tittle {
    white-space: nowrap;
    text-align: center; 
}

body {
    padding-top: 100px;
    padding-bottom: 60px;
    background-color: whitesmoke;
}

.link {
    border: 1px solid black;
    width: 60%;
    background-color: whitesmoke;
    height: auto;
    margin-top: 30px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 10px 40px 30px;
    font-size: 20px;
}

th , td{
    padding: 12px;
}

.btn-lg {
    --bs-btn-font-size: 1.125rem;
}

a.btn {
    --bs-btn-font-size: 1.125rem;
}

.btn {
    width: 100px;
}

.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px; 
}

.input-group {
    flex-direction: row;
    width: 100%;
    max-width: 600px; 
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    
}

.form-control {
    padding-right: 30px;
    margin-bottom: 10px;
}

.form-select {
    padding-right: 30px;
}


.input-group > * {
    flex: 1 0 50%;
}

.input-group .btn {
    width: 300px;
}