.tittle {
  white-space: nowrap;
  text-align: center; 
}

body {
  padding-top: 100px;
  padding-bottom: 500px;
  background-color: whitesmoke;
}

.form-register {
  width: 80%;
  max-width: 500px;
  margin: auto;
  font-weight: 400;
}

.form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  margin-top: 30px;
  margin-bottom: 10px;
  padding: 10px;
  font-size: 16px;
}

.btn-class {
  display: flex;
  justify-content:space-around;
}

.btn {
  margin-top: 40px;
  padding-left: 30px;
  padding-right: 30px; 
  text-align: center;
  line-height: 60px;  /* この値はボタンの高さと合わせてください */
  display: inline-block;
}

.btn-wide {
  padding-left: 50px;
  padding-right: 50px; 
}

.alert {
  text-align: center;
}